*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

#time{
    font-size: 8rem;
}

h1{
    margin-bottom: 3rem;
}

h2{
    margin-bottom:0.5rem;
    opacity:0.6;
}